*{
    --header-height:48px;
    --global-margin:0 12%;
    --btn-border-radius:8px;
}

html {
    --bg-color: #fafafa;
    --block-bg-color:#ffffff;
    --block-hover-bg-color:#fafafa;
    --block-box-shadow: 0 0 0 1px #00000008, 0 1px 3px 1px #00000012, 0 2px 6px 2px #00000008;
    --icons-color:black;
    --text-color:black;
    --button-text-color:black;
    --screenshots-bg-color:rgb(221, 220, 217);
    --tab-bg:#dddcd9;
    --tab-button-bg:var(--tab-bg);
    --tab-button-active-bg:white;
    --button-bg:#dddcd9;
    --button-bg-hover:rgba(201, 199, 200, 0.288);
    --code-bg:#f3f3f3;
    --scroll-track: #f0f0f0;
    --scroll-thumb: #b5b5b5;
    --scroll-thumb-hover: #9a9a9a;
    --skeleton-animate-color: rgba(3, 3, 3, 0.080);
    color:var(--text-color);
    color-scheme: light;
    --input-bg:#dfdbdc;
    --second-text-color: #625d65;
    --color-border-items: oklch(0.8956 0.0045 91.45);
}

a{
    text-decoration:none;
    color:unset;
}

ul{
    list-style-type: none;
    padding:unset;
    margin:unset;
}
*{
    box-sizing: border-box;
}
p{
    all:unset;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 100px;
}

html{
    background-color: var(--bg-color);
    font-family: Inter, "Inter Fallback", sans-serif; ;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h2{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 16px 0;
}
.second_text{
    color:var(--second-text-color);
    font-size: 14px;
}

* {
    scrollbar-width: thin;               /* Firefox */
    scrollbar-color: var(--scroll-thumb) var(--scroll-track); /* Firefox */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

*::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 8px;
    border: 2px solid var(--scroll-track); /* создаёт эффект зазора */
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.field{
    border-radius: 12px;
    border: 1px solid var(--scroll-thumb);
    background: var(--input-bg);
}
.error-message {
    font-size: 12px;
    color: red;
    margin: auto;
}
.field-error {
    border-color: red;
}
